/* HOME PAGE */
header {
    z-index :2;
}

.home.jumbotron {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background: url('./images/AlcaProduct7.jpeg')no-repeat center center/cover; */
}
/* DASHBOARD.PHP */
.dashboard {
    height: 100vh;
    width: 80vw;
    position: relative;
    transform: translateX(20vw);
    background-color: rgba(38, 50, 56, 0.3);
    z-index: -1;
    align-items: center;
    justify-content: center;
    display: flex;  
    background: url('./images/AlcaProduct7.jpeg')no-repeat center center/cover;
}

.dashboard .content {
    height: 90%;
    width: 90%;
}
/* DASHBOARD.PHP ==> SIDEBAR.PHP*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 20vw;
    max-width: 20vw;
    min-height: 100vh;
}

.sidebar-title {
    color: #fff;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#sidebar ul.components{
    height: 40px;
    width: 100%;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar ul.components li{
    background: #2b3138;
    width: 100%;
    padding: 8px 0;
}

#sidebar ul.components li a {
    margin:0 1.5rem;
    text-decoration: none;
}

#sidebar ul.components li ul#editPageSubmenu ,
#sidebar ul.components li ul#productsSubmenu {
    margin: 0 20px;
}

.profile {
    color: #fff;
    width: 100%;
    height: 10vh;
}