/* reset/reboot/whatever xD */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navigation bar */
.navbar {
    background: #FFFFFF;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.6rem;
}
.navbar ul li a {
    color: #000;
}
/* homeCarousel */
#carouselExampleCaptions {
    height: 70vh;
    position: relative;
}

#carouselExampleCaptions img {
    height: 70vh;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

/* #carouselExampleCaptions img::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.4);
} */
/* menu Preview */
.menu-container {
    height: 70vh;
    width: 100%;
    position: relative;
    font-family: 'Nanum Pen Script', cursive;
    background: #FFFFFF;
}
.menu-header {
    height: 10vh;
}

.menu-description {
    font-size: 1.2rem;
    color: #000;
}
/* contact section */
.contact {
    height: 80vh;
    width: 100%;
    background: #FFFFFF;
    position: relative;
    font-family: 'Nanum Pen Script', cursive;
}
.contact-header {
    height: 10vh;
    width: 100%;
    font-family: 'Nanum Pen Script', cursive;
}
.contact-image img{
    height: 10vh;
}
/* location section */
.location-header {
    height: 10vh;
    width: 100%;
    font-family: 'Nanum Pen Script', cursive;
}
/* footer */
footer {
    height: fit-content;
}
list-unstyled{
    font-family: 'Nanum Pen Script', cursive;
}
footer ul li a{
    text-decoration: none;
}
/* 
================================================
====================SIDEBAR===================== 
================================================
*/
.container-fluid.dashboard {
    position: relative;
    height: 90vh;
    width: 100vw;
    background:url('images/AlcaProduct7.jpeg')no-repeat center center/cover;
    filter:brightness(0.5);
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
