@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Architects Daughter', cursive;  
}
header {
    font-family: 'Architects Daughter', cursive; 
    position: fixed;
    z-index: 2;
    width: 100vw;
}

.jumbotron.home {
    background: url(images/AlcaProduct7.jpeg)no-repeat center center/cover;
    height: 80vh;
    position: relative;
    color: #fff; 
    font-family: 'Architects Daughter', cursive; 
}

/* about us */
.jumbotron.about {
    font-family: 'Architects Daughter', cursive;
    height: 40vh; 
}

/* menu page  */
.card {
    display: inline;
    font-family: 'Architects Daughter', cursive; 

}

/* find us */
h2,p {
    font-family: 'Architects Daughter', cursive; 

}

/* footer  */
footer {
    font-family: 'Architects Daughter', cursive; 
}